@font-face {
	font-family: SourceCodePro;
    src: url(SourceCodePro-Regular.ttf.woff2);
}

* {
	font-family: SourceCodePro, monospace !important;
	line-height: 1.3;
}

html,body {
	height: fit-content;
}

html {
	background: rgb(12,14,20);
	background: linear-gradient(180deg, rgba(12,14,20,1) 0%, rgba(15,39,62,1) 63%, rgba(65,93,117,1) 100%);
	margin: 0;
}

body {
	margin: 0;
	color: white;
}

hr {
	border-color: #0d131d;
}

h5 {
	color:  #fcf497;
}

.stardiv {
	min-height: 100%;
	min-width: 100%;
	z-index: -100;
}

a  {
/*color: #e2361d;*/
	font-size: 1.2rem;
}

.main {
	padding-top: 8em;
	min-height: 100vh;
}

.bg-black-trans {
	background: rgba(0, 0, 0, 0.5);
	border: hidden;
}

.blink {
	animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}

.float-container {
	padding-left: 2rem;
	position: absolute;
}

.float-around {
	position: relative;
	animation-name: float-around;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	width: 20rem;
}

@media only screen and (max-device-width: 1366px) {
	.float-around {
		width: 10rem;
	}
}

@keyframes float-around {
	0%   {left:0rem; top:0rem;}
	25%  {left:0.3rem; top:-0.5rem;}
	50%  {left:0rem; top:-0.2rem;}
	75%  {left:0.3rem; top:0.1rem;}
	100% {left:0rem; top:0rem;}
}

.star-0 {
	width:5px;
	height:5px;
	border-radius:3px;
	background:white;
	box-shadow:0 0 6px white, 0 0 6px white, 0 0 4px white;
}
.star-1 {
	width:4px;
	height:4px;
	border-radius:2px;
	background:white;
	box-shadow:0 0 5px white, 0 0 5px white, 0 0 5px white;
}
.star-2 {
	width:3px;
	height:3px;
	border-radius:1px;
	background:white;
	box-shadow:0 0 3px white, 0 0 3px white, 0 0 3px white;
}
.star-3 {
	width:3px;
	height:3px;
	border-radius:2px;
	background:white;
	box-shadow:0 0 2px white, 0 0 1px white;
}
.star-4 {
	width:2px;
	height:2px;
	border-radius:2px;
	background:#BBB;
	box-shadow:0 0 2px #BBB,0 0 2px #BBB;
}
.star-5 {
	width:2px;
	height:2px;
	border-radius:2px;
	background:#999;
	box-shadow:0 0 2px #999 ,0 0 2px #999;
}
.star-6 {
	width:1px;
	height:1px;
	border-radius:2px;
	background:#999;
	box-shadow:0 0 2px #999 ,0 0 2px #999;
}
<!-- thanks for the stars https://css.michaelschrauzer.com/demos/css-night-sky.html-->